@import url('https://rsms.me/inter/inter-ui.css');
html { font-family: 'Inter UI', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter UI var alt', sans-serif; }
}

body
{
	margin: 0 auto;
	width: 780px;
}

header
{
	margin-top: 30px;
}

h1
{
	font-size: 3.5em;
	margin: 0;
}

p
{
	font-size: 14px;
}

h1+p
{
	font-size: 1.3em;
	margin: 0;
}

h2
{
	padding-right: 100px;
}

h3
{
	margin: 0;
	margin-bottom: 10px;
	margin-top: 30px;
	font-size: 18px;
}

h5
{
	margin: auto;
	font-size: 14px;
	font-weight: 300;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 15px;
	margin-bottom: 20px;
}

strong
{
	font-weight: 600;
}

small
{
	font-weight: 400;
}

article
{
	margin-top: 50px;
}

.menunav
{
	margin-top: 40px;
}

.menulist
{
	list-style: none;
	border-top: 1px black solid;
	padding-left: 0;
}

.menulist li
{
	display: inline-block;
	margin: 0;
	padding-top: 10px;
}

.menulist li a
{
	text-decoration: none;
	color: black;
	margin-right: 70px;
}

.menulist li a:hover, .active
{
	padding-top: 8px;
	border-top: 2px black solid;
}

.active
{
	font-weight: bold;
}

#preambule
{
	opacity: 0.6;
	background: #F2F2F2;
	display: inline-block;
	padding: 30px;
	margin: 0;
	margin-top: 50px;
}

#preambule h2
{
	font-size: 16px;
	font-weight: 600;
}

#preambule p
{
	font-weight: 300;
}

#profil
{
	float: left;
	margin-right: 50px;
	width: 230px;
	height: 230px;
}

.keywords
{
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}

.keywords li
{
	display: inline-block;
	background-color: #F2F2F2;
	border-radius: 50px;
	margin-top: 5px;
	margin-right: 10px;
	padding: 8px 18px;
	font-size: 14px;
	font-weight: 500;
}

#place
{
	float: right;
	margin-top: 40px;
}

.gonext
{
	display: inline-block;
	background-color: #e8e8e8;
	padding: 20px 20px 20px 30px;
	border-radius: 30px;
	margin-bottom: 100px;
}

.gonext a
{
	text-decoration: none;
	color: black;
}

#arrow
{
	margin-left: 10px;
}

#motif
{
	border: 1px #CCCCCC solid;
	padding: 10px 40px;
}

#end
{
	padding: 20px;
	margin-bottom: 100px;
}