@import url('https://rsms.me/inter/inter-ui.css');
html { font-family: 'Inter UI', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter UI var alt', sans-serif; }
}

body
{
	margin: 0 auto;
	width: 900px;
}

header
{
	margin-top: 30px;
}

h1
{
	font-size: 3.5em;
	margin: 0;
}

h1+p
{
	font-size: 1.3em;
	margin: 0;
}

article
{
	margin-top: 50px;
}

.menunav
{
	margin-top: 40px;
}

.menulist
{
	list-style: none;
	border-top: 2px black solid;
	padding-left: 0;
}

.menulist li
{
	display: inline-block;
	margin: 0;
	padding-top: 10px;
}

.menulist li a
{
	text-decoration: none;
	color: black;
	margin: 0px 55px;
}

.menulist li a:hover, .active
{
	padding-top: 8px;
	border-top: 2px black solid;
}

.active
{
	font-weight: bold;
}